{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <p>You will be able to upload your CV later.</p>

    {{ form(form) }}
{% endblock %}
