{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
{{ form(form) }}
<ul>
    {% for offer in offers %}
        <li>
            {{ offer.jobName }} - <a href="{{ path('app_joboffers_view', { 'offer': offer.id }) }}">details</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
